app-register {
  .input-container {
    &.toggle-container {
      p { 
        font-weight: bold;
        font-size: 14px;
      }
      ion-toggle {
        width: auto;
        font-weight: bold;
        font-size: 14px;
        --track-background-checked: var(--color-primary);
        --handle-background-checked: #fff;
      }
    }
  }
}
