app-register {
  .input-container {
    &.toggle-container {
      p { 
        font-weight: bold;
        font-size: 14px;
      }
      ion-toggle {
        width: auto;
        font-weight: bold;
        font-size: 14px;
        --track-background-checked: var(--ion-color-primary);
        --handle-background-checked: #fff;
      }
    }
    
    .media-container {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      ion-icon{
        color: var(--ion-color-primary);
      }
      .media-thumbnail {
          width: 120px;
          height: 120px;
          background-size: contain;
          border-radius: 12px;
      }
  
      .media-delete {
          position: absolute;
          top: 0;
          right: 0;
          width: 24px;
          height: 24px;
          padding: 5px;
      }
    }
  }
}
