.media-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;

    .media-thumbnail {
        width: 120px;
        height: 120px;
    }

    .media-delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        padding: 5px;
    }
}